* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}
*::selection{
  background-color: #fff;
  color:#96c11e;
}
html,
body {
  height: 100%;
  width: 100%;
}
#nav {
  height: 140px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 150px;
  position: fixed;
  gap: 20px;
  z-index: 99;
}
#nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 110px;
  position: fixed;
  gap: 20px;
  z-index: 99;
  height: 100%;
}
#nav img {
  height: 70px;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px;
}
#nav-list h4:hover {
  color: #96c11e;
  cursor: pointer;
}
#cursor {
  height: 25px;
  width: 25px;
  background-color: #96c11e;
  position: fixed;
  z-index: 99;
  border-radius: 50%;
}
#cursor-blur {
  height: 300px;
  width: 300px;
  background-color: #96c11e;
  position: fixed;
  border-radius: 50%;
  filter: blur(150px);
  z-index: 9;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
#page1 {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
#page1 h1 {
  font-size: 140px;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: black;
  top: -6px;
  left: -6px;
  -webkit-text-stroke: 2px #96c11e;
  z-index: -1;
}
#page1 h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}
#page1 p {
  font-size: 20px;
  font-weight: 300;
  width: 36%;
}
#page1 #arrow {
  height: 200px;
  width: 200px;
  background-color: transparent;
  border: 2px solid #95c11e;
  position: absolute;
  display: flex;
  left: -2%;
  bottom: 0%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all ease 0.5s;
}
#page1 #arrow i {
  font-size: 50px;
  font-weight: 100;
}
#page1 #arrow:hover {
  scale: 0.4;
  background-color: #95c11e;
}
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}
#scroller {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller h4 {
  display: inline-block;
  font-size: 120px;
  font-weight: 900;
  /* font-family: gilroy; */
  margin-right: 10px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  transition: all linear 0.5s;
  color: #000;
}
#scroller h4:hover {
  color: #96c11e;
  -webkit-text-stroke: 1px transparent;
}
.scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 30s infinite linear;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
  position: relative;
  z-index: 10;
}
#about-us-in {
  width: 52%;
  text-align: center;
}
#about-us img {
  height: 220px;
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
}
#about-us-in h3 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 24px;
}
#about-us-in p {
  font-size: 20px;
  line-height: 35px;
}
#about-us-in p:last-of-type {
  padding-top: 50px;
}
#cards-container {
  height: 70vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}
.cards {
  height: 80%;
  width: 26%;
  /* background-color: blue; */
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.5s;
}
.cards:hover {
  transform: rotate3d(1, 1, 0, 10deg);
}
#card-1 {
  background-image: url(./assests/home-toptracer.avif);
}
#card-2 {
  background-image: url(./assests/hero-4.avif);
}
#card-3 {
  background-image: url(./assests/home-lessons.avif);
}
.overlays {
  height: 100%;
  width: 100%;
  background-color: #96c11e;
  padding-top: 100px;
  opacity: 0;
  transition: all ease 0.5s;
}
.cards .overlays:hover {
  opacity: 1;
}
.overlays h3 {
  font-size: 40px;
  font-weight: 900;
  width: 86%;
  padding-left: 30px;
  color: #000;
}
.overlays p {
  padding-left: 30px;
  padding-right: 30px;
  color: #000;
  line-height: 30px;
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
  width: 97%;
  font-weight: 300;
}
#signup-banner {
  height: 30vh;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #96c11e, #19a138);
}
#signup-banner img {
  height: 100%;
  width: 12%;
  object-fit: cover;
}
#signup-banner img:first-of-type {
  transform: scaleX(-1);
}
#signup-banner h3 {
  text-align: center;
  width: 50%;
  font-size: 30px;
  font-weight: 900;
  color: #000;
  line-height: 45px;
}

.quote {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote img {
  height: 50px;
  position: absolute;
}
#colon-open {
  position: relative;
  top: -15%;
  left: -2%;
}
#colon-close {
  position: relative;
  bottom: -15%;
  right: -2%;
}

.quote > p:first-of-type {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  width: 60%;
  text-align: center;
  line-height: 48px;
}
#page4 {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 85px;
}
.elem {
  height: 40%;
  width: 25%;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}
.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #96c11e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 900;
  color: #000;
  position: absolute;
  z-index: 10;
  transition: all ease 0.5s;
}
.elem:hover h2 {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
  transition: all ease 0.5s;
}
.elem:hover img {
  scale: 1;
}
#page4 h1 {
  font-size: 96px;
  position: absolute;
  font-weight: 900;
  top: 79.6%;
  -webkit-text-stroke: 1px #fff;
  color: #000;
}
#footer {
  height: 400px;
  width: 100%;
  background: linear-gradient(to left bottom, #96c11e, #19a138);
}
/* #footer-back {
  background-image: url(./assests/dots-side.svg);
  background-repeat: no-repeat;
  height: 50%;
  object-fit: cover;
  width: 15%;
  transform: scaleX(-1);
  opacity: 0.2;
  position: absolute;
  overflow: hidden;
} */
#footer-content {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 100px;
}
#footer-content img {
  height: 80px;
  width: 100%;
  width: 20%;
}
.list h2 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 900;
  color: #000;
}
.list p {
  width: 27%;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
.list strong {
  color: #000;
}
#copyright {
  padding-left: 180px;
  /* padding-top: 80px; */
  color: #000;
  font-weight: 600;
  position: relative;
  top: -10%;
}
